.checkbox {
  cursor: pointer;
  color: var(--color-link-hover);
  transition: none;

  &:checked {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
}

.inner {
  --checkbox-icon-color: var(--color-anti-contrast);
}
