.header {
  background: var(--color-surface);
  color: var(--color-text);
}

:global([data-mantine-color-scheme="light"] body:has(.entity-form)) .header,
:global([data-mantine-color-scheme="light"] body:has(.skeletonContainer)) .header {
  background: var(--color-bg);
}

.header-burger[data-opened] {
  background: var(--burger-color);

  &::before,
  &::after {
    transform: none;
  }
}
