.gameHero {
  --game-hero-miniature-brightness: 1;
  --game-hero-overlay-color: #000;
  --game-hero-overlay-opacity: .4;

  position: relative;
  background: var(--color-bg);
  min-height: 240px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  padding: calc(2 * var(--rhythmic-unit));
  color: var(--color-text);
  margin-inline: calc(-1 * var(--gutter-size));
  padding-inline: var(--gutter-size);
  margin-block-end: calc(1.5 * var(--rhythmic-unit));
  z-index: 2;

  @container (width >= 420px) {
    margin-inline: 0;
    padding-inline: calc(2 * var(--rhythmic-unit));
    margin-top: 0;
    border-radius: var(--border-radius-big);
  }
}

:global(html[data-mantine-color-scheme='dark']) .gameHero {
  --game-hero-overlay-color: #353535;
  --game-hero-overlay-opacity: .45;
}

.gameHeroPicture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
  filter: blur(50px) brightness(var(--game-hero-miniature-brightness, 1));
  opacity: .8;

  &::before {
    background: var(--color-bg);
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--game-hero-overlay-color);
    content: '';
    opacity: var(--game-hero-overlay-opacity);
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
}

.gameHeroContent {
  position: relative;
  z-index: 2;
  flex: 0 0 100%;

  textarea {
    font-variation-settings: 'wdth' 100;
    margin: 0 0 calc(.5 * var(--rhythmic-unit));
    color: var(--color-contrast);
    text-wrap: balance;
    overflow-wrap: break-word;
    font-size: 36px;
    padding: 0;
    border: none;
    background: transparent;
    font-weight: bold;
    box-shadow: none !important;
    line-height: 1.35;
  }
}

.gameHeroGameName {
  font-family: var(--font-family-mono), monospace;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-secondary);
  display: block;
}

.gameHeroMeta {
  display: flex;
  flex-wrap: wrap;
  gap: calc(.5 * var(--rhythmic-unit));
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
}

.gameHeroTag {
  background: rgb(255 255 255 / 15%);
  backdrop-filter: blur(5px);
  border: var(--border-width) solid rgb(255 255 255 / 10%);
  border-radius: var(--border-radius);
  padding: calc(.25 * var(--rhythmic-unit)) calc(.5 * var(--rhythmic-unit));
  display: flex;
  align-items: center;
  gap: calc(.375 * var(--rhythmic-unit));
  white-space: nowrap;
}
