.header {
  background: var(--color-surface);
  color: var(--color-text);
  transition: var(--transition) background-color, var(--transition) color, var(--transition) border-bottom-color;
}

.header-burger[data-opened] {
  background: var(--burger-color);

  &:before,
  &:after {
    transform: none;
  }
}
