.list {
  display: flex;
  flex-direction: column;
  gap: var(--rhythmic-unit);

  table th {
    width: 250px;
    text-align: right;
    padding-right: var(--rhythmic-unit);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: calc(.5 * var(--rhythmic-unit));
  flex-wrap: wrap;
}

.actionBtn {
  padding: 0;
  height: auto;
  background: transparent;

  &[disabled] {
    opacity: .3;
  }

  span {
    width: calc(1.25 * var(--rhythmic-unit));
    color: var(--color-link);
  }

  &:hover,
  &:focus-visible,
  &:active {
    &[disabled],
    &:not([disabled]) {
      background: transparent;
    }

    span {
      color: var(--color-link-hover);
      background: transparent;
    }
  }
}

.actionLoader {
  --button-height: 28px;
  --button-color: var(--color-link);
}

.header {
  margin-top: 0;
}

.formatLabel {
  cursor: pointer;
  width: auto;
  display: inline-flex;
  position: relative;
}

.formatLabelWrapper {
  --label-offset-start: 0;
  --label-offset-end: 0;
  --label-cursor: pointer;

  order: -1;
  flex-direction: row;
  font-weight: 600;
  margin-inline-end: var(--rhythmic-unit);
  cursor: pointer;

  &::after {
    content: ':';
  }
}

.formatSwitchTrack {
  cursor: pointer;
}

.formatInput {
  cursor: pointer;
}

.formatDownload {
  display: flex;

  svg {
    width: calc(1.25 * var(--rhythmic-unit));
    height: auto;
  }
}
