.list {
  display: flex;
  flex-direction: column;
  gap: var(--rhythmic-unit);
}

.header {
  margin-top: 0;
}

.formatLabel {
  cursor: pointer;
  width: auto;
  display: inline-flex;
  position: relative;
}

.formatLabelWrapper {
  --label-offset-start: 0;
  --label-offset-end: 0;
  --label-cursor: pointer;

  order: -1;
  flex-direction: row;
  font-weight: 600;
  margin-inline-end: var(--rhythmic-unit);
  cursor: pointer;

  &::after {
    content: ':';
  }
}

.formatSwitchTrack {
  cursor: pointer;
}

.formatInput {
  cursor: pointer;
}
