.post__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--rhythmic-unit);
  row-gap: calc(.5 * var(--rhythmic-unit));

  .post__tags {
    margin-top: 0;
  }
}

.post__title {
  flex: 0 0 100%;
}

.post__lead {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-text-secondary);
  margin-bottom: calc(2 * var(--rhythmic-unit));
  line-height: 1.6;
  transition: var(--transition-mode) color;
}

.post__date {
  display: block;
  font-family: var(--font-family-mono), monospace;
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  white-space: nowrap;
}

.post__date--updated {
  color: var(--color-text);
  background: var(--color-surface);
  padding: calc(.125 * var(--rhythmic-unit)) calc(.5 * var(--rhythmic-unit));
  border-radius: var(--border-radius-small);
}

.post__tag-link {
  margin: -2px -8px;
  border-radius: inherit;
  padding: inherit;
  transition: var(--transition-mode) color, var(--transition-mode) background-color;

  &,
  &:visited {
    color: var(--color-text-secondary);
  }

  &:hover,
  &:focus-visible,
  &:active {
    background: color-mix(in sRGB, currentColor, transparent 90%);
    color: var(--color-link--no-animation);
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
