.footer {
  --footer-social-buttons-gap: calc(.5 * var(--rhythmic-unit));

  --facts-button-border-color: #FCD34D;
  --facts-button-shadow: 0 0 15px color-mix(in srgb, var(--facts-button-border-color), transparent 60%);

  @media (min-width: 370px) {
    --footer-social-buttons-gap: var(--rhythmic-unit);
  }
}

.footer__social {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  gap: var(--footer-social-buttons-gap);
  flex-wrap: wrap;
  justify-content: center;
}

.footer__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--footer-social-buttons-gap);
}

.footer__social-item .footer__social-link {
  &:hover,
  &:focus-visible,
  &:active {
    transform: translateY(-2px);
  }
}

.footer__social-link--facts {
  border-color: transparent;
  filter: grayscale(1);
  position: relative;

  &:hover,
  &:focus-visible,
  &:active {
    border-color: var(--facts-button-border-color);
    box-shadow: var(--facts-button-shadow);
    background: color-mix(in srgb, var(--facts-button-border-color), transparent 90%);
    transform: scale(1.1);
    filter: none;
  }
}
