.footer {
  --footer-social-buttons-gap: calc(.5 * var(--rhythmic-unit));

  @media (width >= 370px) {
    --footer-social-buttons-gap: var(--rhythmic-unit);
  }
}

.footer__social {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  gap: var(--footer-social-buttons-gap);
  flex-wrap: wrap;
  justify-content: center;
}

.footer__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--footer-social-buttons-gap);
}

.footer__social-item .footer__social-link {
  &:hover,
  &:focus-visible,
  &:active {
    transform: translateY(-2px);
  }
}
