.group {
  background: var(--color-bg);
  color: var(--color-text);
  position: relative;
  padding: 24px 0;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 210;
  overflow: auto;
  overscroll-behavior: none;

  .fullscreenAction {
    position: fixed;
    top: calc(1.5 * var(--rhythmic-unit));
    left: auto;
    right: calc(2 * var(--rhythmic-unit));
  }

  .loader {
    display: block;
  }
}

.fullscreenAction {
  position: absolute;
  top: 8px;
  left: calc(100% + 8px);
  color: var(--color-text);

  &:not([disabled]):not([data-loading]) {
    &:hover,
    &:focus-visible,
    &:active {
      background: var(--color-surface);
    }
  }
}

.content {
  max-width: 720px;
  margin-inline: auto;
}

:global(html) {
  &:has(.fullscreen) {
    overflow: hidden;
  }
}

.loader {
  --loader-size: 18px;
  --loader-color: var(--color-text-secondary);
  top: calc(1.75 * var(--rhythmic-unit));
  position: fixed;
  right: calc(4.5 * var(--rhythmic-unit));
  opacity: .3;
  display: none;
}
