.footer {
  display: flex;
  margin-left: calc(-1 * var(--gutter-size));
  margin-right: calc(-1 * var(--gutter-size));
  padding: calc(1 * var(--rhythmic-unit)) var(--gutter-size);
  border-top: var(--border);

  > .content-container {
    display: flex;
    align-items: center;
    gap: var(--rhythmic-unit) calc(2 * var(--rhythmic-unit));
    justify-content: center;
  }
}

@media (width < 768px) {
  .footer > .content-container {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .footer > .content-container {
    justify-content: space-between;
  }
}
