.button {
  --color-button-text: var(--color-anti-contrast);
  --color-button: var(--color-accent);
  --color-button-hover: color-mix(in srgb, var(--color-button), var(--color-contrast) 25%);

  color: var(--color-button-text);
  background: var(--color-button);
  border: none;

  &:not([disabled]) {
    &:hover,
    &:focus-visible,
    &:active {
      background: var(--color-button-hover);
    }
  }
}
