.action {
  &,
  &:visited {
    &:hover,
    &:focus,
    &:active {
      color: var(--ai-color);
    }
  }
}
a.actionEdit {
  --ai-color: var(--color-link) !important;
  --ai-hover: color-mix(in srgb, var(--color-link), transparent 80%) !important;
}

button.actionDelete {
  &,
  &:visited {
    &,
    &:hover,
    &:focus {
      color: var(--color-error);
    }
  }

  --ai-color: var(--color-error) !important;
  --ai-hover: color-mix(in srgb, var(--color-error), transparent 80%) !important;
}

.title {
  margin-block-end: var(--mantine-spacing-lg);
  transition: var(--transition) color;
}

.modalButtonsGroup {
  margin-block-start: calc(2 * var(--rhythmic-unit));
}
